*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Ubuntu, Cantarell;
}
h1{
    font-size: 4em;
    margin-top: 10vh;
    margin-left: 10px;
}
h2{
    font-size: 2em;

}
img{
    max-width: 700px;
    max-height: 400px;
    
}

a:active, 
a:hover,
a{
    color: aliceblue;
    text-decoration: none;
}
.logo_hi{
    margin-left: 105px;
}
.logo_hi img{
 max-height:5vh;
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/back1.jpg");
   background-position: center;
   background-size: cover;
  

  
}
menu:hover {
    background-color:rgba(0, 0, 0, 1) ;
    transition: 0.5s;
}
menu{
    background-color:rgba(0, 0, 0, 0.5) ;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
    transition: 0.5s;
    z-index: 1;

}

menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 20px;
}
menu ul li{
    margin-left: 20px;
}
menu ul li a {
    text-decoration: none;

}
.Main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    
}
.text{
    width: 40vw;
}
.About{
    
    
}
.cont{
    display: flex;
    justify-content: space-around;
}


.buy{
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: row;
    justify-content: space-evenly;
   

}
.buy_var{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 34vw;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 20px;

}
.buy_var div{
    padding: 10px;
    overflow: hidden;
}
.full_price{
    background-color:#d4dcbc;
    color: black;
    
}
.discount{
    background-color: #2f4e2e ;
    color: white;
}



footer{
    background-color:rgba(0, 0, 0, 0.5) ;
    height: 50vh;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo span{
    display: block;
    background-color: black;
    width: 100px;
    height: 3px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.logo img{
    margin: 10px;
}
